.chat {
    font-size: 12px;
}

.room-list {}

.room-list-title {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.room-name {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
    padding: 10px;
}
.room-name.active {
    background-color: #dddddd;
}

.chat {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
}

.room {
    right: 0px;
    text-align: left;
    height: 500px;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}


.room-title {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
}

.room-title::before {
    text-transform: none;
    content: "You're in "
}
.message-list {
}

.side-bar {
    text-align: left;
    font-size: 10px;
    float: left;
    height: 500px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: left;
    overflow-y: auto;
}
.member-list {
    padding-left: 30px;
    font-size: 10px;
}

.input-box {
    clear: both;
    padding: 5px;
    width: 100%;
    padding-right: 80px;
}

.input-box .input {
    padding: 5px;
    width: 100%;

}

.input-box .send {
    margin-left: -10px;
    padding: 5px;
    width: 50px;
}

.message {
    clear:both;
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-color: rgb(168, 202, 221);
    border-radius: 3px;
    padding: 10px
}
.message.owner {
    float: right;
    background-color: #84b67e;
}

.message-sender {
    font-weight: bold;
}

.message-content {
    padding-right: 30px;
}